* {
    box-sizing: border-box;
}


button,
div,
form,
input {
  margin: 10px;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: transform 150ms;
}

#add-gif {
    cursor: pointer;
    
}

h1 {
    text-align: center;
}

#form-div {
  margin: auto;
}

#giphy-div {
    display: inline;
}

.gif-container {
    width: 48%;
    float: left;
}

img {
    border: inset 4px;
}

img:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: transform 150ms;
}

#main-div {
    clear: left;
}


